img {
    max-width: 100%;
}

/* Home */
section {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

.home-grid {
    position: relative;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    padding: 5rem 3rem;
    align-items: center;
}
.home-grid {
    position: relative;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    padding: 5rem 3rem;
    align-items: center;
}

.home__img {
    width: 100%;
    max-width: 450px;
}

.home__blob {
    fill: #004c8e;
}

.home__blob-img {
    width: 100%;
}

h1 {
    font-size: var(--big-size);
    color: var(--main-text);
}

h2 {
    position: relative;
    text-align: center;
    font-size: var(--h2-size);
    color: var(--sub-text);
}

h2::after {
    content: "";
    width: 80px;
    height: 5px;
    left: 0;
    right: 0;
    background-color: var(--sub-text);
    position: absolute;
    margin: auto;
    top: 65px;
}

h3 {
    font-size: var(--h3-size);
    color: var(--more-normal-text);
}

p {
    font-size: var(--section-size);
    color: var(--more-normal-text);
}

.Name {
    color: var(--normal-text);
}

/* About */
.about-grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
    text-align: initial;
}

.about-grid-img {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
    text-align: initial;
    grid-template-columns: 4fr 5fr;
    grid-template-rows: 1fr;
}

.about-image {
    display: flex;
    flex-direction: column;
}

.about-image img {
    width: 100%;
    padding: 10px;
}

/* Skills */
.skill-grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
    text-align: initial;
}
.skill-coding {
    width: 85%;
}

@media (min-width: 800px) {
    .home-grid {
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr;
    }

    .about-grid {
        grid-template-columns: 4fr 5fr;
        grid-template-rows: 1fr;
    }
    .skill-grid {
        grid-template-columns: 5fr 4fr;
        grid-template-rows: 1fr;
    }
}
@media (max-width: 800px) {
    .about-img-2 {
        padding-right: 10px;
    }
    .home__img {
        display: none;
    }
    .home-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .home-grid-2 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .about-grid {
        justify-items: center;
    }
    .about-grid-img {
        align-items: center;
        width: 80%;
    }
    .skill-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .skill-img {
        display: none;
    }
    h2::after {
        content: "";
        width: 50px;
        height: 3px;
        left: 0;
        right: 0;
        background-color: var(--sub-text);
        position: absolute;
        margin: auto;
        top: 45px;
    }
}
.box {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 1rem;
    background-color: var(--sub-bg);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}
.text-in-box {
    font-size: var(--h3-size);
    color: var(--main-text);
}
.percent {
    align-self: flex-end;
}
.bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--sub-text);
    z-index: 0;
    height: 0.25rem;
    border-radius: 10px;
}
