@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
    --main-bg: #151d21;
    --sub-bg: rgba(32, 46, 54, 0.8);
    --main-text: rgb(255, 255, 255);
    --sub-text: rgb(77, 105, 247);
    --second-sub-text: rgb(53, 72, 171);
    --normal-text: gray;
    --more-normal-text: silver;
    --change-page: rgb(0, 98, 255);
    --logo-size: 30px;
    --section-size: 18px;
}

main {
    margin-top: 100px;
}

body {
    background-color: var(--main-bg);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
}

section {
    justify-content: center;
    align-content: center;
}

a,
h1,
h2,
h3,
p,
span {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

/* nav-bar */
@media (min-width: 950px) {
    nav {
        position: fixed;
        background-color: var(--sub-bg);
        align-content: center;
        width: 100%;
        top: 0;
        z-index: 1000;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
    }
}

.nav-bar {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    max-width: 1024px;
    max-height: 100%;
}

.nav-bar > .nav-section {
    padding: 1.5rem 3rem;
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    max-height: 100%;
}

.nav-bar > .nav-section a {
    color: var(--normal-text);
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#title {
    flex-basis: 50%;
    justify-content: flex-start;
    padding: 1rem 3rem;
}

#important {
    font-size: var(--logo-size);
    color: var(--main-text);
}

#current-section {
    font-size: var(--section-size);
    flex-grow: 1;
}

#current-section a {
    color: var(--sub-text);
}

#sections {
    font-size: var(--section-size);
    flex-grow: 1;
}

#sections:hover a {
    color: var(--second-sub-text);
}

#page {
    padding: 1rem 1rem;
    font-size: var(--section-size);
    flex-grow: 1;
    justify-content: flex-end;
}

#page div {
    border: 1px solid var(--second-sub-text);
    background-color: var(--second-sub-text);
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

#page div a {
    color: var(--main-text);
}

#hamburger {
    display: none;
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem;
    color: var(--main-text);
}

@media (max-width: 950px) {
    nav {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
    }
    .nav-bar {
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .nav-bar > .nav-section {
        padding: 0.5rem 1rem;
        gap: 1rem;
    }

    #title {
        width: 100%;
        justify-content: flex-start;
        background-color: var(--sub-bg);
        padding: 0.5rem 0;
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
    }

    #menu {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        transform: translateY(-150%);
        transition: transform 0.5s ease-in-out;
        width: 100%;
        background-color: var(--sub-bg);
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
    }

    #menu.show {
        display: flex;
        transform: translateY(0);
        transition: transform 0.5s ease-in-out;
    }

    #hamburger {
        display: block;
        justify-content: flex-end;
    }
    #page {
        padding: 0rem 0rem;
    }
}
